run = """
./node_modules/.bin/esbuild ./src/App.js \
	--sourcemap \
	--loader:.js=jsx \
	--bundle \
	--define:process.env.NODE_ENV='"development"' \
	--outfile=public/bundle.js \
"""
onBoot = """
./node_modules/.bin/superstatic -c superstatic.json public --port 8080 --host 0.0.0.0 \
"""